* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Dirtyline;
  src: url(assets/fonts/Dirtyline\ 36daysoftype\ 2022.otf);
}

@font-face {
  font-family: FulcherExtruderight;
  src: url(assets/fonts/FulcherExtruderight.otf);
}

@font-face {
  font-family: Wagon;
  src: url(assets/fonts/Wagon-ExtraLight.otf);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  font-family: Roboto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo p {
  font-size: 6em;
  font-family: FulcherExtruderight;
  padding-left: 20px;
}

nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-family: Roboto;
}

nav a:last-child {
  padding-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  grid-area: main;
}

.greetingPage {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greetingPage-text {
  text-align: center;
  font-size: 3em;
  width: 40%;
  font-family: Dirtyline;
}
.Z-letter {
  font-size: 1.5em;
}
.background {
  border-radius: 10px;
  padding: 7px;
  font-family: FulcherExtruderight;
}

.aboutOus {
  min-height: 100vh;
}

.aboutOus h1 {
  font-family: FulcherExtruderight;
  font-size: 5em;
  text-align: center;
}

.aboutOus-Content {
  display: flex;
  flex-direction: column;
  gap: 20px;
    padding: 20px;
}

.aboutOus-Content section h2{
    font-family: FulcherExtruderight;
  font-size: 2em;
}

.aboutOus-Content section p{
  font-size: 1.5em;
  margin-top: 5px;
  font-weight: lighter;
  line-height: 1.5;
}

.bold-text{
  font-weight: bolder;
  background-color: royalblue;
  color: white;
  padding: 5px;
}

.services {
  min-height: 60vh;
  background-color: black;
  color: white;
  padding-top: 50px;
}

.services h1 {
  font-family: FulcherExtruderight;
  font-size: 5em;
  text-align: center;
}

.services-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.services-details {
  width: 30vw;
  height: 50vh;
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.services-details h2 {
  font-family: Wagon;
  font-size: 2.5em;
  text-align: center;
  padding-top: 10px;
  height: 50%;
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 70px 5px;
}

.services-details p {
  text-align: left;
  margin-left: 2px;
  padding: 10px;
  font-size: 1.6em;
}

.contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.contact h1 {
  font-family: FulcherExtruderight;
  font-size: 5em;
  width: 500px;
}

fieldset {
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px solid white;
  border-radius: 22px;
  padding-left: 20px;
}

legend {
  font-size: 1.3em;
  margin-bottom: 3px;
  font-weight: bold;
}

input,
textarea {
  font-size: 1.5em;
  width: 95%;
  height: 10%;
  margin-bottom: 20px;
  padding-left: 10px;
}

textarea {
  height: 50%;
  padding-top: 5px;
  resize: none;
}
.submitBtn {
  height: 15%;
  font-family: FulcherExtruderight;
  font-size: 2em;
  letter-spacing: 3px;
  transition: letter-spacing 0.5s ease-in-out;
}

.submitBtn:hover {
  letter-spacing: 6px;
  background-color: royalblue;
  color: white;
  transition: all 0.5s ease-in-out;
}

legend {
  text-align: right;
  font-family: FulcherExtruderight;
  font-size: 3em;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: dirtyline;
  font-size: 1.5em;
}

@media (max-width: 1000px) {
  .greetingPage-text{
    width: 50%;
  }

  .services-details h2{
    font-size: 2em;
  }

  .services-details p{
    font-size: 1.2em;
  }

  .aboutOus-Content section p{
    font-size: 1.2em;
  }

  .bold-text{
  font-weight: bold;
  background-color: lightseagreen;
  }

  .contact {
    flex-direction: column;
    gap: 50px;
  }

  .contact h1{
    text-align: center;
    font-size: 4em;
  }
}

@media (max-width: 500px) {
    .greetingPage-text{
    width: 90%;
    font-size: 4em;
  }
  .services {
    padding-top: 10px;
  }
  .services-content{
    flex-direction: column;
    gap: 1px;
  }
  .services-details{
    width: 90%;
    height: 13vh;
  }

  .services-details h2{
    height: 30%;
    font-size: 1.2em;
    padding: 13px 5px;
  }

  .aboutOus h1,
  .services h1,
  .contact h1{
    font-size: 3em;
  }

  .contact h1{
    width: auto;
  }

  fieldset {
    width: 400px;
  }

  legend {
    font-size: 2em;
  }

  input,
textarea{
 
  font-size: 1em;
}

}
